.section-zigzag {
  //padding: 12rem 0 0 0;
}

.vas-photo {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.logo-photo {
  height: 120px;
  display: block;
  //width: 120px;
  //height: auto;
}

.logo-1 {

}
.logo-2 {

}
.logo-3 {
  height: 80px;
}

.card-image {
  height: 240px;
  overflow: hidden;
}

.card-image img {
  border-radius: 12px;
  width: 100%;
  display: block;
}

.team-cards {
  flex-wrap: wrap;
}

.teamcard {
    //flex-basis: 320px;
    flex-basis: 30%;
}

.card-1 {
  border-radius: 12px;
  //background: #ffc9c9;
  background: #fff5f5;
}
.card-2 {
  border-radius: 12px;
  //background: #e9ecef;
  //background: #f8f9fa;
  background: #edf2ff;
}
.card-3 {
  border-radius: 12px;
  //background: #fcc2d7;
  background: #fff0f6;
}
.card-4 {
  border-radius: 12px;
  //background: #fcc2d7;
  background: #f8f0fc;
}
.card-5 {
  border-radius: 12px;
  //background: #fcc2d7;
  background: #f3f0ff;
}

.card-content {
  padding: 12px;
}

.italic-para {
  font-style: italic;
  padding-bottom: 12px;
}

.featured-photo {
  display: block;
  //max-width: 100%;
  width: 50%;
  //margin: 0 auto;
  border: 2px solid black;
}

.featured-para {
  //width: 90%;
  //margin: 2.4rem auto;
  //margin-bottom: 2.4rem;
}

.featured-h2 {
  //width: 90%;
  //margin: 2rem auto;
  margin-bottom: 2.4rem;
}

.citizen {

}

.supported-by {
/*  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);*/
  //position: relative;
/*  overflow-x: hidden;
  overflow-y: auto;*/
  overflow-x: hidden;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 24px;
}

.supported-by::after {
/*  content: " ";
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 24px;
  height: 100px;
  display: block;
  //width: 1040px;
  //background-color: red;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;*/

}

.element {
  animation: moveToRight 1s infinite;
  animation-delay: 10ms;
}

.element2 {
  animation: eating-path 10s linear infinite;
  backface-visibility: hidden;
}

.element2 {
  .content-photo {
/*    position: relative;
    z-index: -10;*/
  }
}

@keyframes eating-path {
  0% {
    //transform: translateX(50%);
    transform: translateX(90%);
  }
  100% {
    //transform: translateX(-50%);
    transform: translateX(-90%);
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-500px);
  }

  75% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(500px);
  }
}