@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
.vas-photo {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.card-image {
  height: 240px;
  overflow: hidden;
}

.card-image img {
  border-radius: 12px;
  width: 100%;
  display: block;
}

.card-1 {
  border-radius: 12px;
  background: #fff5f5;
}

.card-2 {
  border-radius: 12px;
  background: #edf2ff;
}

.card-3 {
  border-radius: 12px;
  background: #fff0f6;
}

.card-4 {
  border-radius: 12px;
  background: #f8f0fc;
}

.card-5 {
  border-radius: 12px;
  background: #f3f0ff;
}

.card-content {
  padding: 12px;
}

.italic-para {
  font-style: italic;
  padding-bottom: 12px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #c92a2a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #c92a2a;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #c92a2a;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.vertical-ribbon {
  /*  position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 20;
    background-color: #3fda85;
    width: 2rem;*/
}

iframe {
  border-radius: 3px;
}

.card {
  position: relative;
  height: 48rem;
  transition: all 0.3s;
  /* background-color: orangered;
   height: 50rem;
   transition: all .8s;

   &:hover {
     transform: rotateY(180deg);
     //transform: rotateY(45deg);
   } */
}
.card__side {
  height: 48rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.card__side--front {
  background-color: white;
}
.card__side--back-1 {
  background: linear-gradient(to right bottom, #ffd43b, #e67700);
}
.card:hover {
  transform: translateY(-1.5rem) scale(1.03);
  cursor: pointer;
}
.card:active {
  transform: translateY(-1rem) scale(1);
}
.card__picture {
  background-size: cover;
  height: 24rem;
}
.card__picture-1 {
  background-image: url(../images/vas-4.JPG);
}
.card__picture-2 {
  background-image: url(../images/vas-2.JPG);
}
.card__picture-3 {
  background-image: url(../images/vas-3.jpg);
}
.card__heading {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 1.5rem 0 1.5rem;
  /*  position: absolute;
    top: 12rem;
    right: 2rem ;*/
}
.card__details {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card__details ul {
  list-style: none;
  /*  width: 80%;
    margin: 0 auto;*/
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  color: white;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #55a57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: white;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  cursor: pointer;
}
.feature-box:active {
  transform: translateY(-1rem) scale(1);
}
.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  background-color: orangered;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2* ((100% - 2 * 6rem) / 3) + 6rem );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2* ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3* ((100% - 3 * 6rem) / 4) + 2*6rem);
}

.section-about {
  padding: 12rem 0;
}

.section-features {
  padding: 12rem 0;
}

.section-cards {
  background-color: #fff5f5;
  padding: 12rem 0;
}

.header {
  height: 100vh;
  position: relative;
}

.logo-box {
  /* position: absolute;
   top: 4rem;
   left: 4rem;*/
}

.logo {
  height: 4.8rem;
  width: auto;
}

.main-nav {
  list-style: none;
}
.main-nav li {
  display: inline-block;
  margin-left: 4rem;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 0.8rem 0;
  color: #212529;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #c92a2a;
}

.nav-bar {
  z-index: 2;
}

.text-box-container {
  width: 100%;
  z-index: 1;
}

.text-box-container::after {
  background: rgba(30, 30, 30, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.section-one {
  color: #ced4da;
}

.section-two {
  position: relative;
  background-color: #212529;
}

.img-container-link {
  display: block;
  opacity: 0.7;
  transition: all 0.5s;
}
.img-container-link:hover {
  opacity: 0.3;
}

.vas-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../images/vas-4.JPG");
  background-size: cover;
  background-position: center;
  height: 32rem;
  color: white;
}

.section-three {
  position: relative;
  background-color: #212529;
  background-size: cover;
  background-position: top;
  height: 60rem;
  color: white;
}

.section-four {
  position: relative;
  background-color: #212529;
  background-size: cover;
  height: 60rem;
  color: white;
}

.section-five {
  position: relative;
  background-color: #212529;
  background-size: cover;
  height: 60rem;
  color: white;
}

body {
  font-family: "Arvo", serif;
}

.heading-one {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-one-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.7rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
  animation-iteration-count: 3;

   //animation-delay: 3s;
   */
}

.heading-one-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: moveInRight 1s ease-out;
}

.heading-two {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ff8787, #c92a2a);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading-two:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-three {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/*# sourceMappingURL=main.css.map */
